# Common
*.DS_Store

# Core
/Core/node_modules
/Core/tests/out
/Core/lib
/Core/docs

# Editor
/Editor/node_modules
/Editor/.firebase
/Editor/.firebaserc
/Editor/build

# Sandbox
/Sandbox/node_modules
/Sandbox/lib