/node_modules
ObjToSchematic-win32-x64
ObjToSchematic-linux-x64
ObjToSchematic-darwin-x64
/res/atlases/*.atlas
/res/atlases/*.png
!/res/atlases/vanilla.atlas
!/res/atlases/vanilla.png
/res/palettes/empty.palette
/dist
/dev
/gen
/tools/blocks
/tools/models
/tests/out
/logs/
notes.txt
*.DS_Store
.dependency-cruiser.js
dependencygraph.svg