/node_modules
package-lock.json
ObjToSchematic-win32-x64
/resources/*.obj
/resources/*.mtl
/resources/atlases/*.atlas
!/resources/atlases/vanilla.atlas
/resources/atlases/*.png
!/resources/atlases/vanilla.png
/dist
/tools/blocks
/tools/models
notes.md
