body {
    margin: 0;
    font-family: monospace;
}
canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}
#b {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 2;
}