@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');

:root {
  --properties-width: max(400px, 20%);
  --pill-radius: 5px;
  --prop-bg: hsl(0, 0%, 10%);
  --prop-alt: hsl(0, 0%, 15%);

  --prop-accent-border-hovered: #33AAC2;
  --prop-accent-hovered: #0095b3;
  --prop-accent-standard: #00738a;
  --prop-accent-disabled: #00404d;

  --prop-border-hovered: hsl(0, 0%, 38%);
  --prop-hovered: hsl(0, 0%, 22%);
  --prop-standard: hsl(0, 0%, 18%);
  --prop-disabled: hsl(0, 0%, 14%);
  --prop-sunken: hsl(0, 0%, 8%);

  --text-standard: hsl(0, 0%, 66%);
  --text-disabled: hsl(0, 0%, 33%);

  --vertical-divider: hsl(0, 0%, 16%);

  --border-radius: 5px;
  --property-height: 34px;
  --subproperty-height: 20px;
}


body {
  margin: 0px;
  background: rgb(25, 25, 25);
  font-family: 'Lexend', sans-serif;
  overflow: hidden;
  user-select: none;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}


.column-properties {
  background: var(--prop-bg);
  position: absolute;
  width: var(--properties-width);
  height: 100%;
  overflow: auto;
}

.column-canvas {
  position: absolute;
  margin-left: var(--properties-width);
  width: calc(100% - var(--properties-width));
  height: 100%;
  cursor: crosshair;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.property {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-standard);
  font-size: 85%;
  margin: 0px 0px;
  padding: 5px 10px;
}

.group-heading {
  padding: 10px 10px;
  color: #303030;
  font-weight: 400;
  font-size: 85%;
  letter-spacing: 4px;
}


.prop-key-container {
  align-self: center;
  padding: 0px 10px 0px 0px;
  width: 125px;
  overflow: auto;
}

.prop-key-container-disabled {
  color: var(--text-disabled) !important;
}

.prop-value-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  /*border: 1px solid yellow;*/
  width: 0px;
  /*border-left: 2px solid var(--vertical-divider);*/
  padding-left: 5px;
}



.subproperty-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.subproperty {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-standard);
  font-size: 85%;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--vertical-divider);
}
.subproperty:last-child {
  border-bottom: 0px;
}

.subprop-key-container {
  align-self: center;
  padding: 0px 10px 0px 0px;
  width: 30%;
}

.subprop-value-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  min-height: var(--subproperty-height);
  width: 100%;
  overflow: auto;
  font-weight: 300;
  /*border-left: 1px solid var(--vertical-divider);*/
  padding-left: 5px;
}



.height-small {
  height: var(--subproperty-height);
  font-size: 100%;
}

.height-normal {
  height: var(--property-height);
}


.item-body-sunken {
  background: var(--prop-sunken);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px 0px inset;
  border-radius: var(--border-radius);
  color: #8C8C8C80;
  font-weight: 300;
  font-size: 90%;
  padding: 12px 18px;
  line-height: 180%;
  min-height: 22px;
  width: 100%;
  border: 1.5px solid var(--prop-sunken);
  transition-duration: 1s;
  overflow-wrap: anywhere;
}

.slider-number-input {
  height: calc(var(--property-height) - 4px);
}

input {
  user-select: none;
  margin-right: 3px;
  border-radius: var(--border-radius);
  text-align: center;
  background: var(--prop-standard);
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  color: var(--text-standard);
  outline-color: var(--prop-accent-hovered);
  border: 1px solid rgb(255, 255, 255, 0.0);
}
input:hover:enabled {
  color: #C6C6C6;
  border: 1px solid rgb(255, 255, 255, 0.1);
  background: var(--prop-hovered);
}
input:disabled {
  background: var(--prop-disabled);
  color: var(--text-disabled);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  width: 100%;
  height: var(--property-height);
  padding-left: 5px;
  border-radius: var(--border-radius);
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  color: var(--text-standard);
  background: var(--prop-standard);
  border: 1px solid rgb(255, 255, 255, 0.0);
  max-width: 100%;
  outline-color: var(--prop-accent-hovered);
  opacity: 1.0;
  cursor: inherit;
}
select:hover:enabled {
  color: #C6C6C6;
  background: var(--prop-hovered);
  border: 1px solid rgb(255, 255, 255, 0.1);
  cursor: pointer;
}
select:disabled {
  background: var(--prop-disabled) !important;
  color: var(--text-disabled);
}

.new-slider {
  border-radius: var(--border-radius);
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  background: var(--prop-standard);
  cursor: ew-resize;
  height: calc(var(--property-height) - 2px);
  border: 1px solid var(--prop-bg);
}
.new-slider-hover {
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  background: var(--prop-hovered) !important;
}
.new-slider-disabled {
  background: var(--prop-disabled) !important;
  cursor: inherit !important;
}

.new-slider-bar {
  border-radius: var(--border-radius);
  height: calc(100% - 2px);
  background: var(--prop-accent-standard);
  border: 1px solid rgb(255, 255, 255, 0.0);
}
.new-slider-bar-hover {
  border: 1px solid rgb(255, 255, 255, 0.2) !important;
  background: var(--prop-accent-hovered) !important;
}
.new-slider-bar-disabled {
  background: var(--prop-accent-disabled) !important;
  cursor: inherit !important;
  border: 1px solid rgb(255, 255, 255, 0.0) !important;
}



.button {
  width: calc(100% - 2px);
  height: calc(var(--property-height) - 2px);
  background: var(--prop-accent-standard);
  border-radius: var(--border-radius);
  color: white;
  text-align: center;
  border: 1px solid rgb(255, 255, 255, 0);
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  border: 1px solid rgb(255, 255, 255, 0.2);
  background: var(--prop-accent-hovered);
  cursor: pointer;
}
.button-disabled {
  cursor: inherit !important;
  background: var(--prop-accent-disabled) !important;
  border: 1px solid rgb(255, 255, 255, 0) !important;
  color: #808080 !important;
}

.button-progress {
  /*border: 1px solid green;*/
	z-index: 5;
	background: white;
  opacity: 0.1;
  border-radius: var(--border-radius);
  position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
  width: 0%;
  transition: width 0.2s;
}

.input-file {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(var(--property-height) - 2px);
  background: var(--prop-standard);
  border-radius: var(--border-radius);
  font-weight: 300;
  padding: 0px 10px;
  border: 1px solid rgb(255, 255, 255, 0);
}
.input-file-hover {
  border: 1px solid rgb(255, 255, 255, 0.2);
  background: var(--prop-hovered);
  cursor: pointer;
}
.input-file-disabled {
  background: var(--prop-disabled) !important;
  color: var(--text-disabled) !important;
}

.h-div {
  height: 2px;
  border-radius: 2px;
  background: var(--prop-alt);
}

.disabled {
  opacity: 0.5;
  cursor: inherit !important;
}





::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

.status-warning {
  transition-duration: 0.5s;
  color: orange;
}

.status-success {
  transition-duration: 0.5s;
  color: var(--prop-accent-standard);
}

.status-error {
  transition-duration: 0.5s;
  color: rgb(156, 27, 27);
}

.spinbox-key {
  color: #ffffffb9;
  font-size: 85%;
  font-weight: 300;
  padding-right: 5px;
}

.spinbox-key-hover {
  border: rgba(255, 255, 255, 0.2) !important;
  filter: brightness(1.5);
  cursor: ew-resize;
}

.spinbox-key-disabled {
  filter: brightness(0.4);
}

.spinbox-value {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--property-height) - 2px);
  background: var(--prop-standard);
  border-radius: 5px;
  flex-grow: 1;
  font-weight: 300;
  border: 1px solid rgba(255, 255, 255, 0.0);
  color: var(--text-standard);
}

.spinbox-value-hover {
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  background: var(--prop-hovered) !important;
  cursor: ew-resize;
}

.spinbox-value-disabled {
  color: var(--text-disabled);
  background: var(--prop-disabled) !important;
}

.spinbox-divider {
  width: 3px;
}

.toolbar {
  display: flex;
  position: inherit;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  cursor: inherit;
  pointer-events: none;
}

.toolbar-column {
  display: flex;
  flex-direction: row;
  margin: 20px 10px;
}

.toolbar-column:last-child {
  flex-direction: row-reverse !important;
}

.toolbar-group {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 16px;
  border-radius: var(--border-radius);
  margin-left: 10px;
  margin-right: 10px;
}

.toolbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0px 8px 0px 8px;
  text-align: center;
  color: var(--text-standard);
  font-size: 85%;
  background-color: var(--prop-standard);
  border: 1px solid var(--prop-standard);
  pointer-events: all;
  gap: 2px;
}

.toolbar-item-small {
  height: 24px !important;
  padding: 0px 4px 0px 4px !important;
}

.toolbar-item-hover {
  background-color: var(--prop-hovered) !important;
  border: 1px solid var(--prop-border-hovered) !important;
  cursor: pointer;
}

.toolbar-item-active-hover {
  background-color: var(--prop-accent-hovered) !important;
  border: 1px solid var(--prop-accent-border-hovered) !important;
  cursor: pointer;
  color: white;
}

.toolbar-item-disabled-active {
  background-color: var(--prop-accent-disabled) !important;
  border: 1px solid var(--prop-accent-disabled) !important;
}

.toolbar-item-disabled {
  background-color: var(--prop-disabled) !important;
  border: 1px solid var(--prop-disabled) !important;
  cursor: default;
}

.toolbar-item-active {
  background-color: var(--prop-accent-standard) !important;
  border-color: var(--prop-accent-border-hovered) !important;
  color: white;
}

.toolbar-item:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.toolbar-item:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

svg {
  width: 16px;
  height: 16px;
  stroke: var(--text-standard);
}

.icon-active {
  stroke: white !important;
}

.icon-disabled {
  stroke: var(--text-disabled) !important;
}

.icon-disabled-active {
  stroke: #808080 !important;
}

.palette-container {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  gap: 4px;
}

.palette-item {
  display: flex;
  background: var(--prop-disabled);
  width: 32px;
  height: 32px;
  border-radius: 8px;
}


.interactable-base {
  display: flex;
  border-radius: 8px;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
}


.interactable {
  border-color: rgb(255, 255, 255, 0.0);
  background-color: var(--prop-standard);
}

.interactable-hover {
  border-color: rgb(255, 255, 255, 0.2);
  background-color: var(--prop-standard);
}

.interactable-disabled {
  border-color: rgb(255, 255, 255, 0.0);
  background-color: var(--prop-disabled);
}


.interactable-active {
  border-color: var(----prop-accent-standard);
  background-color: var(--prop-accent-standard);
}

.interactable-active-hover {
  border-color: var(--prop-accent-border-hovered);
  background-color: var(--prop-accent-hovered);
}

.interactable-active-disabled {
  border-color: var(--prop-accent-disabled);
  background-color: var(--prop-accent-disabled);
}



.toggleable-icon {
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.125));
}


.button-loading {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }

  70% {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}



.loader-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: currentColor;
}

.spin {
  animation: blinker 0.75s ease-in-out infinite;
}

@keyframes blinker {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}



.progress-bar-container {
  width: 100%;
  height: 2px;
}

.progress-bar {
  background-color: var(--prop-accent-standard);
  height: 100%;
  transition: width 0.1s;
}




/* Remove default bullets */
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}
.caret:hover {
  color: var(--text-standard) !important;
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  display: inline-block;
  margin-right: 6px;
}


/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}


a {
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  color: #8C8C8C80;
}
a:hover {
  color: var(--text-standard) !important;
}

.colour-swatch {
  border: 1px solid #8C8C8C80;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.colour-swatch-hover {
  border-color: var(--text-standard) !important;
}

.colour-swatch::-webkit-color-swatch-wrapper {
  border: none;
  margin: 0px;
  padding: 0px;
}
.colour-swatch::-webkit-color-swatch {
  border: none;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
}

.texture-preview {
  border: 1px solid #8C8C8C80;
  border-radius: 5px;
  width: calc(100% - 2px);
}
.texture-preview-missing {
  border-color: orange !important;
}

.texture-hover {
  border-color: var(--text-standard) !important;
}

.material-container {
}

.checkbox {
  height: calc(var(--property-height) * 0.75);
  aspect-ratio: 1/1;
  background-color: var(--prop-standard);
  border-radius: 5px;
  border: 1px solid var(--prop-standard);
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-hover {
  background-color: var(--prop-hovered) !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  cursor: pointer;
}
.checkbox-disabled {
  background-color: var(--prop-disabled) !important;
  border: 1px solid var(--prop-disabled) !important;
}

.checkbox-text {
  padding-left: 10px;
  font-weight: 300;
  color: var(--text-standard)
}
.checkbox-text-disabled {
  color: var(--text-disabled);
}

.checkbox-pip {
  width: 50%;
  height: 50%;
  border-radius: 3px;
}
.checkbox-pip-hover {
  stroke: white;
}
.checkbox-pip-disabled {
  stroke: var(--text-disabled);
}


.metadata-value {
  display: inline;
  color: rgb(128, 128, 128);
  background-color: rgb(12, 12, 12);
  padding: 0px 2px;
  border-radius: 2px;
  word-wrap: break-word;
}

.spinbox-main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.spinbox-element-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 50%;
  align-items: center;
  padding-left: 5px;
}

.spinbox-element-container:first-child {
  padding-right: 0px;
}



.row-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.row-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col-container {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.col-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}