@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');

:root {
  --properties-width: max(400px, 20%);
  --pill-radius: 5px;
  --prop-bg: #1A1A1A;
  --prop-alt: #252525;

  --prop-accent-border-hovered: #33AAC2;
  --prop-accent-hovered: #0095b3;
  --prop-accent-standard: #00738a;
  --prop-accent-disabled: #00404d;

  --prop-border-hovered: #606060;
  --prop-hovered: #383838;
  --prop-standard: #2F2F2F;
  --prop-disabled: #242424;
  --prop-sunken: #141414;

  --text-standard: #A8A8A8;
  --text-disabled: #535353;
}


body {
  margin: 0px;
  background: rgb(25, 25, 25);
  font-family: 'Lexend', sans-serif;
  overflow: hidden;
  user-select: none;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}


.column-properties {
  background: var(--prop-bg);
  position: absolute;
  width: var(--properties-width);
  height: 100%;
  border-right: 2px solid var(--prop-dark);
  overflow: auto;
}

.column-canvas {
  position: absolute;
  margin-left: var(--properties-width);
  width: 80%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.item {
  padding: 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-standard);
}

.group-heading {
  padding: 0px 0px 0px 0px;
  color: #303030;
  font-weight: 400;
  font-size: 85%;
  letter-spacing: 4px;
}


.prop-left {
  align-self: center;
  padding: 0px 10px;
  width: 125px;
}
.prop-left-disabled {
  color: var(--text-disabled) !important;
}

.prop-right {
  flex-grow: 1;
  padding: 0px 10px;
}


.item-body {
  font-size: 85%;
  margin: 0px 0px;
  min-height: 30px;
  padding: 5px 0px;
}
.item-body-sunken {
  background: var(--prop-sunken);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px 0px inset;
  border-radius: 5px;
  color: #8C8C8C80;
  font-weight: 300;
  font-size: 90%;
  padding: 12px 18px;
  line-height: 180%;
  min-height: 22px;
  border: 1.5px solid var(--prop-sunken);
  transition-duration: 1s;
  overflow-wrap: anywhere;
}


.round-top {
  border-radius: 8.5px 8.5px 0px 0px;
}

.round-bottom {
  border-radius: 0px 0px 10px 10px;
  border-width: 0.5px 0px 0px 0px;
}


code {
  border-radius: 3px;
  padding: 0px 5px;
  margin: 0px 5px;
  background: rgb(15, 15, 15);
  font-size: 110%;
}

select {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  color: var(--text-standard);
  background: var(--prop-standard);
  border: 1px solid rgb(255, 255, 255, 0.0);
}
select:hover:enabled {
  color: #C6C6C6;
  background: var(--prop-hovered);
  border: 1px solid rgb(255, 255, 255, 0.1);
}
select:disabled {
  background: #282828 !important;
  color: var(--text-disabled);
}

.file-input {
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255, 0);
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  background: var(--prop-standard);
  padding: 0px 16px;
  cursor: pointer;
  height: 40px;
}

.file-input:hover {
  border: 1px solid rgb(255, 255, 255, 0.1);
}

.slider-value {
  align-self: center;
  font-weight: 300;
  font-size: 85%;
  margin-right: 8px;
  color: var(--text-standard);
  width: 20px;
  text-align: center;
}
.slider-value-disabled {
  color: var(--text-disabled);
}



.new-slider {
  border-radius: 5px;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  background: var(--prop-standard);
  cursor: ew-resize;
  height: 30px;
  font-size: 90%;
  border: 1px solid var(--prop-bg);
}
.new-slider-hover {
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  background: var(--prop-hovered) !important;
}
.new-slider-disabled {
  background: var(--prop-disabled) !important;
  cursor: default !important;
}



.new-slider-bar {
  border-radius: 5px;
  height: 28px;
  background: var(--prop-accent-standard);
  border: 1px solid rgb(255, 255, 255, 0.0);
}
.new-slider-bar-hover {
  border: 1px solid rgb(255, 255, 255, 0.2) !important;
  background: var(--prop-accent-hovered) !important;
}
.new-slider-bar-disabled {
  background: var(--prop-accent-disabled) !important;
  cursor: default !important;
  border: 1px solid rgb(255, 255, 255, 0.0) !important;
}



.button {
  background: var(--prop-accent-standard);
  border-radius: 5px;
  height: 25px;
  color: white;
  text-align: center;
  padding: 5px 0px 0px 0px;
  border: 1px solid rgb(255, 255, 255, 0);
  cursor: pointer;
}
.button:hover {
  border: 1px solid rgb(255, 255, 255, 0.2);
  background: var(--prop-accent-hovered);
  cursor: pointer;
}
.button-disabled {
  cursor: default !important;
  background: var(--prop-accent-disabled) !important;
  border: 1px solid rgb(255, 255, 255, 0) !important;
  color: #808080 !important;
}

.input-text {
  background: var(--prop-standard);
  border-radius: 5px;
  height: 24px;
  font-weight: 300;
  padding: 6px 0px 0px 10px;
  border: 1px solid rgb(255, 255, 255, 0);
}
.input-text:hover {
  border: 1px solid rgb(255, 255, 255, 0.2);
  background: var(--prop-hovered);
  cursor: pointer;
}
.input-text-disabled {
  background: rgb(156, 27, 27) !important;
}

.h-div {
  height: 2px;
  border-radius: 2px;
  background: var(--prop-alt);
}

.divider {
  width: 2px;
  border-radius: 1px;
  background: var(--prop-alt);
  align-self: stretch;
}

.disabled {
  opacity: 0.5;
  cursor: default !important;
}





::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

.border-warning {
  border: 1.5px solid orange;
  transition-duration: 1s;
  color: orange;
}

.border-success {
  border: 1.5px solid green;
  transition-duration: 1s;
  color: green;
}

.border-error {
  border: 1.5px solid rgb(156, 27, 27);
  transition-duration: 1s;
  color: rgb(156, 27, 27);
}

.spinbox-key {
  border-radius: 5px 0px 0px 5px;
  height: calc(32px - 8.5px);
  color: #ffffffb9;
  padding: 8.5px 8px 0px 8px;
  font-size: 85%;
  font-weight: 400;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border: rgba(255, 255, 255, 0.0);
}
.spinbox-key-hover {
  border: rgba(255, 255, 255, 0.2) !important;
  filter: brightness(1.5);
  cursor: ew-resize;
}
.spinbox-key-disabled {
  filter: brightness(0.4);
}

.spinbox-value {
  background: var(--prop-standard);
  border-radius: 0px 5px 5px 0px;
  flex-grow: 1;
  height: calc(32px - 8.5px);
  padding: 8.5px 0px 0px 0px;
  font-weight: 300;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border: rgba(255, 255, 255, 0.0);
  
  color: var(--text-disabled);
  align-self: center;
  text-align: center;
}
.spinbox-value-hover {
  border: rgba(255, 255, 255, 0.2) !important;
  background: var(--prop-hovered) !important;
  cursor: ew-resize;
}
.spinbox-value-disabled {
  color: var(--text-disabled);
  background: var(--prop-disabled) !important;
}

.invis-divider {
  width: 6px;
}

.toolbar {
  display: flex;
  position: inherit;
  flex-direction: row;
  width: 90%;
}

.toolbar-group {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 16px;
  border-radius: 5px;
}

.toolbar-item {
  height: 32px;
  padding: 0px 8px 0px 8px;
  text-align: center;
  color: var(--text-standard);
  font-size: 85%;
  background-color: var(--prop-standard);
  border: 1px solid var(--prop-standard);
}
.toolbar-item-hover {
  background-color: var(--prop-hovered) !important;
  border: 1px solid var(--prop-border-hovered) !important;
  cursor: pointer;
}
.toolbar-item-active-hover {
  background-color: var(--prop-accent-hovered) !important;
  border: 1px solid var(--prop-accent-border-hovered) !important;
}
.toolbar-item-disabled {
  background-color: var(--prop-disabled) !important;
  border: 1px solid var(--prop-disabled) !important;
}
.toolbar-item-active {
  background-color: var(--prop-accent-standard) !important;
  border-color: var(--prop-accent-border-hovered) !important;
}
.toolbar-item:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.toolbar-item:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

svg { width: 16px; height: 16px; padding-top: 7.5px; stroke: var(--text-standard); }

.icon-active {
  stroke: white !important;
}

.icon-disabled {
  stroke: var(--text-disabled) !important;
}