body {
  margin: 0;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #101214;
}

.toolbar {
  position: absolute;
  width: 100%;
  height: 58px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, .25);
  backdrop-filter: blur(10px);
}

.canvas-toast {
  position:absolute;
  left:10px;
  top:68px;
}